{% extends 'base.html' %}
{% block title %}Upload Planilhas{% endblock %}
{% block content %}

<div class="upload-section">
  <form method="post" enctype="multipart/form-data">
    <div class="upload-group">
      <label>Planilha de Horas</label>
      <input type="file" name="file" accept=".xls,.xlsx" required>
    </div>
    <div class="upload-group">
      <label>Planilha de Disciplinas</label>
      <input type="file" name="discipline_file" accept=".xls,.xlsx">
    </div>
    <button class="btn-upload"><i class="fa fa-upload"></i> Carregar</button>
  </form>
</div>

{% endblock %}
